<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- select_form %>
    <%- product_table %>
  </body>
  <a href="/users/logout"> Logout </a>
</html>
