<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script>
      setTimeout(function(){
      window.location.reload(1);
      }, 5000);
    </script>
  </head>
  <body>
    <form> 
      Update interval (in seconds): 
      <select name="interval">
        <option value=5 selected>5</option> 
        <option value=10>10</option> 
        <option value=15>15</option> 
        <option value=20>20</option> 
      </select> 
      <input type="submit" value="Set">
    </form>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- select_form %>
    <%- product_table %>
  </body>
  <a href="/users/logout"> Logout </a>
</html>
